
<h1> Guest </h1>

<p> Name:<%= @guest.name %> -----
    Occopation: <%= @guest.occupation %> </p>

    <ul>
 <% @guest.appearances.each do |ga| %>
    <li>
       Date: <%= link_to ga.episode.date, episode_path(ga.episode.id)%>
       Rating:<%= ga.rating %>
        <% end %>
       </li>
    
</ul>