<h1><%= @guest.name %></h1>

<h2>Appearances</h2>

<ul class="episodes-list">

<% @appearances.each do |appearance| %>

    <div class="episode-details">

        <li><h4 class="episode-title"><%= "Episode No. #{appearance.episode.number}" %></h4></li>
        <ul>
            <li>Date: <%= link_to appearance.episode.date, episode_path(appearance.episode) %></li>
            <li>Appearance Rating: <%= appearance.rating %></li>

    </div>

<% end %>

</ul>